* {
    margin: 0;
    padding: 0;
}

body {
    
    background-image: url(./img/fundo.jpg);
    text-align: center;
    align-items: center;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
   
}



.cabecalho {
    backdrop-filter: blur(5px);
    background-color: #1c1c1c76;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    
    
  

}

.cabecalho-imagem{
    width:90PX;
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
  
    

}

.cabecalho-lista-item{
    display: inline-block;
    margin: 20px 50px;
    font-size: 37px;
}

.jogotxt {

  margin-right: 100px;

}

::-webkit-scrollbar {
width: 10px;
background: linear-gradient( #000000, #000000bb) ;
}
::-webkit-scrollbar-thumb {

background-color: rgb(29, 29, 255);
border-radius: 25px;
border: 2px solid rgba(0, 0, 0, 0.693)   ;
}

a {
color: white;
text-decoration: none;
}



   .titulo { 

    margin-top: 50px;
    text-align: left;
    font-size: 48px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 30px;
    line-height: 80px;
    

    
}

span {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.771);
  padding: 10px; 


}

.pimentão {
 

 width: 900px;
 margin-top: 50px;
 

}

p {

  color: white;
  font-size: 40px;
  margin-top: 50px;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #00000094;
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 19px;

}

footer {

    margin-top: 10px;
    background-color: black;
    height: 50PX;
    margin-bottom: -100%;
    
    }










@media screen and (min-width:200px) and (max-width: 551px) {
   
  body {
    
    background-image: url(./img/fundo.jpg);
    text-align: center;
    align-items: center;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
   
   
}
footer {

    margin-top: 100px;
    background-color: black;
    height: 50PX;
    width: 551PX;
    margin-bottom: -100%;
  
  
  }
p {

  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 480px;


}

  
  .cabecalho {
        backdrop-filter: blur(5px);
        background-color: #1c1c1c76;
        color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 0px;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 551px;
        text-align: center;
        
        
      
    
    }
    
    .cabecalho-imagem{
        width: 100PX;
        background-color: aliceblue;
        border-radius: 9px;
        margin: 10px;
       
       
    
      
        
    
    }
    
    .cabecalho-lista-item{
        display:inline-block;
        flex-direction: row;
        margin: 20px 30px;
        font-size: 37px;
        text-align: center;
    }

  .jogotxt {

display:none ;

  }


  .titulo { 
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 30px;
    line-height: 47.5px;
    width: 500px;

   

}


.pimentão {
 

  width: 551px;
  margin-top: 50px;
  align-items: center;
  
 
 }

}

@media screen and (min-width:552px) and (max-width: 1000px) {
  .jogotxt {

    display:none ;
    
      }
    

      .cabecalho-lista-item{
        display:inline-block;
        flex-direction: row;
        margin: 20px 30px;
        font-size: 37px;
        text-align: center;
 }
        .pimentão {
 

          width: 90%;
          margin-top: 50px;
          align-items: center;
          
         
         }
    
    
}